.revenueChart div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.revenueChart div div {
  display: block;
}

.revenueChart p {
  color: red;
  margin-top: 0;
  margin-left: 15px;
  text-align: center;
}

.revenueChart h3 {
  text-align: center;
}
