.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.nav li {
  margin-left: 35px;
  margin-right: 35px;
}

.nav a {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: black;
}

.nav button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  transition: border-bottom 0.05s;
  padding: 0;
}

.nav button:hover {
  border-bottom: 2px solid black;
}
