.nav {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: rgb(229, 229, 229);
}

.nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}

.nav li {
  margin-left: 10px;
  margin-right: 10px;
}

.navTitle {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: var(--font-purple);
  margin-left: 35px;
  margin-right: 35px;
}

.links {
  text-decoration: none;
  transition: color 0.05s;
  color: black;
  margin-bottom: px;
  padding: 0;
}

.links:hover {
  color: var(--font-purple)
}

.nav button {
  border: none;
  background-color: white;
  cursor: pointer;
  color: black;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  transition: color 0.05s;
  padding: 0;
}

.nav button:hover {
  color: var(--font-purple)
}
