.registrationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.registration div div {
  display: inline-block;
}

.registration div div button {
  margin-left: 10px;
}

.registration h2 {
  margin-left: 10px;
}

.registration p {
  text-align: center;
  color: rgb(211, 0, 0);
}
