.staffFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.staffForm div div {
  display: inline-block;
}

.staffForm div div button {
  margin-left: 10px;
}

.staffForm h2 {
  margin-left: 10px;
}

.staffForm p {
  text-align: center;
  color: rgb(211, 0, 0);
}

.staffForm select{
  margin-left: 10px;
  margin-bottom: 10px;
}

.dimmedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 1;
  pointer-events: auto;
}
