.flightStatus {
  position: relative;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  margin-top: 50px;
}

.flightStatus div {
  display: inline-block;
}

.flightStatus input {
  display: block;
}

.flightStatus button {
  display: block;
}

.flightStatus h2 {
  color: var(--font-purple);
  margin-bottom: 50px;
}

.flightStatus p {
  text-align: center;
  color: rgb(211, 0, 0);
}

.dimmedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 1;
  pointer-events: auto;
}
