.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  width: 50%;
  max-width: 500px;
  padding: 25px;
  text-align: center;
}
